@import "./variables.scss";

.filters {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  &__list {
    margin-left: 10px;
    display: flex;
    &__item {
      color: rgba($black, 0.8);
      border: 1px solid rgba($black, 0.2);
      border-radius: 20px;
      padding: 3px 15px;
      cursor: pointer;
      margin: 0 5px;
      transition: all 0.3s;
      font-size: 14px;
      display: flex;
      align-items: center;
      .cross {
        font-size: 25px;
        line-height: 25px;
        margin-left: 5px;
        color: rgba($black, 0.6);
        display: none;
      }
      &.active {
        .cross {
          display: block;
        }
      }
      &.active {
        background-color: rgba($black, 0.05);
      }
    }
  }
}
