@import "./variables.scss";

.restautant-card {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 20px;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
  &__tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: $primary-color;
    color: $white;
    padding: 5px 25px;
    border-radius: 5px;
    display: block;
    width: 150px;
    z-index: 1;
    font-size: 15px;
  }
  &__image {
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 5 / 3;
    margin-bottom: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }
  &__content {
    &__name {
      font-size: 18px;
      font-family: $secondary-font;
      color: $primary-color;
      margin-bottom: 10px;
    }
    &__rating {
      margin-bottom: 5px;
      .icon-container {
        display: inline-flex;
        width: 20px;
        height: 20px;
        background-color: $primary-color;
        border-radius: 50%;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        svg {
          color: $white;
        }
      }
    }
    &__cuisine,
    &__address {
      color: rgba($black, 0.6);
      font-size: 14px;
      margin-bottom: 3px;
    }
  }
  &:hover {
    .restautant-card__image img {
      transform: scale(1.1);
    }
  }
}
